*   {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*classe container*/
.container  {
    max-width: 1192px;
    min-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 10;
}



/*sections' backgrounds*/
.menu-background   {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 81px;
    background-color: lightblue;
}

.purple-background  {
    width: 100vw;
    height: 494px;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
}

.light-background   {
    width: 100vw;
    height: 601px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark-background    {
    width: 100vw;
    height: 601px;
    background-color: lightgrey;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.dark-bigger-background    {
    width: 100vw;
    height: 985px;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-background    {
    width: 100vw;
    height: 596px;
    background-color: grey;
}

.mini-footer-background {
    width: 100vw;
    height: 89px;
    background-color: grey;
}

/*content*/

/*menu*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo   {
    text-align: center;
    background-color: yellow;
    width: 230px;
    height: 34px;
}

.links   {
    text-align: center;
    background-color: yellow;
    width: 702px;
    height: 34px;
}

.login   {
    text-align: center;
    background-color: yellow;
    width: 230px;
    height: 34px;
}

/*sections*/
.pink-rectangle {
    width: 901px;
    height: 387px;
    background-color: pink;

}

.green-rectangle    {
    Width: 1175px;
    Height: 868px;
    background-color: green;
}

.small-rectangle-60perc     {
    width:703px;
    height: 491px;
    background-color: lightskyblue;
}

.small-rectangle-40perc     {
    width:472px;
    height: 491px;
    background-color: pink;
}

.pink-vertical-rectangle    {
    width:340px;
    height: 536px;
    background-color: pink;
}

.lightblue-vertical-rectangle    {
    width:193px;
    height: 536px;
    background-color: lightskyblue;
}

hr  {
    color: white;
    margin-top: 2%;
    margin-bottom: 2%;
}

.mini-footer-container  {
    width: 1192px;
    Height: 58px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mini-footer-logo   {
    width:74px;
    height: 33px;
    background-color: yellow;
}

.mini-footer-button   {
    width:74px;
    height: 33px;
    background-color: yellow;
}