*   {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*classe container*/
.container  {
    max-width: 1192px;
    margin: 0 auto;
}

.menu-background   {
    display: flex;
    
    width: vw;
    height: 81px;
    background-color: lightblue;
}

.purple-background  {
    width: vw;
    height: 494px;
    background-color: purple;
}

.light-background   {
    width: vw;
    height: 601px;
}

.dark-background    {
    width: vw;
    height: 601px;
    background-color: lightgrey;
}

.footer-background    {
    width: vw;
    height: 601px;
    background-color: grey;
}

/*content*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo   {
    background-color: yellow;
    width: 230px;
    height: 34px;
}

.links   {
    background-color: yellow;
    width: 702px;
    height: 34px;
}

.login   {
    background-color: yellow;
    width: 230px;
    height: 34px;
}